.idea/

batodropin/build/
batodropin/out/

.DS_Store


# Ignore local executable installers
RetroGames/installers/
# newly downloaded apks
retrodroid/artifacts/apks/*.apk
retrodroid/artifacts/apks/*.apkm

# Ignore game data files and personal ROM collections
RetroGames/roms/
RetroGames/bios/

# Ignore processed imagery assets
RetroGames/media_staging/
#ES-DE/

# Ignore Python runtime cache footprints
__pycache__/
*.pyc

tmp/
.venv*

# local retro system
retrodroid/retrogaming

# custom nested java app built on gradle
**/.gradle/
**/app/build/
**/local.properties





